* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: black;
  padding: 20px;
}

#navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#navbar .menu ul li {
  padding: 15px;
}

#navbar .menu ul li:first-child a {
  font-weight: 500;
  border-bottom: 3px solid #2dc2d8;
  border-width: 100%;
}

#navbar .menu ul li a {
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  font-weight: 400;
}

#navbar .menu ul li a:hover {
  color: #2dc2d8;
}

#navbar .menu .menu-btn {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: white;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 100px;
}

#navbar .menu .menu-btn::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  bottom: 8px;
  left: -10px;
  background-color: white;
}

#navbar .menu .menu-btn::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  top: 8px;
  right: 0px;
  background-color: white;
}

#intro {
  background-image: url("../images/banner1-4.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

#intro::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#intro .container {
  width: 100%;
  position: relative;
  z-index: 100;
}

#intro .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 300px 40px;
}

#intro .container .row .col .time-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#intro .container .row .col .time-list a {
  color: white;
}

#intro .container .row .col .icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#intro .container .row .col .icons-list i {
  font-size: 15px;
  padding: 5px;
}

#intro .container .row .col .icons-list i:hover {
  background-color: white;
  cursor: pointer;
  border-radius: 20px;
}

#intro .container .row .col p {
  font-size: 18px;
  margin-top: 70px;
  color: white;
}

#intro .container .row .col h1 {
  font-size: 48px;
  color: white;
  position: relative;
  font-weight: 700;
}

#intro .container .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

#intro .container .row-2 .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 372px;
  height: 275px;
  background-color: #26313c;
  color: white;
  padding: 20px;
}

#intro .container .row-2 .col i {
  font-size: 35px;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#intro .container .row-2 .col:hover i {
  -webkit-transform: scale(1.15, 1.15);
          transform: scale(1.15, 1.15);
}

#intro .container .row-2 .col p {
  font-size: 16px;
  font-weight: 300;
}

#intro .container .row-2 .main {
  width: 372px;
  height: 275px;
  background: -webkit-gradient(linear, left top, right top, from(#4b99df), color-stop(#3faadd), to(#2dc2d8));
  background: linear-gradient(to right, #4b99df, #3faadd, #2dc2d8);
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

#about {
  width: 100%;
  padding: 120px;
  margin-top: 150px;
}

#about .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#about .container .row .col .about-content h1 {
  font-size: 48px;
  font-weight: 300;
  color: #384141;
}

#about .container .row .col .about-content h1 span {
  color: #24cdd5;
  line-height: 1;
}

#about .container .row .col .about-content p {
  margin: 30px auto;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  color: #808080;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.7;
}

#about .container .row .col .about-content a {
  background: -webkit-gradient(linear, left top, right top, from(#4b99df), color-stop(#3faadd), to(#2dc2d8));
  background: linear-gradient(to right, #4b99df, #3faadd, #2dc2d8);
  color: white;
  border-radius: 50px;
  padding: 20px 40px;
  width: 16px;
  height: 42px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#about .container .row .col .about-content a:hover {
  background: -webkit-gradient(linear, right top, left top, from(#4b99df), color-stop(#3faadd), to(#2dc2d8));
  background: linear-gradient(to left, #4b99df, #3faadd, #2dc2d8);
}

#work-process {
  width: 100%;
  height: auto;
  padding: 120px;
  background-color: #26313c;
}

#work-process .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#work-process .container .title {
  color: #f6f7f8;
}

#work-process .container .title h1 {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 1px;
}

#work-process .container .title p {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}

#work-process .container .concepts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

#work-process .container .concepts .concept-items {
  margin-top: 60px;
  color: #f6f7f8;
}

#work-process .container .concepts .concept-items a {
  color: #f6f7f8;
  font-size: 25px;
  border: 1px solid #f6f7f8;
  padding: 30px;
  border-radius: 50%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

#work-process .container .concepts .concept-items a:hover {
  background: -webkit-gradient(linear, right top, left top, from(#4b99df), color-stop(#3faadd), to(#2dc2d8));
  background: linear-gradient(to left, #4b99df, #3faadd, #2dc2d8);
}

#work-process .container .concepts .concept-items .item-title {
  margin-top: 60px;
}

#our-apps {
  width: 100%;
  padding: 120px;
}

#our-apps .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#our-apps .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#our-apps .container .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

#our-apps .container .row .col .title p {
  color: #24cdd5;
}

#our-apps .container .row .col .title h1 {
  font-size: 48px;
  font-family: "Montserrat"sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
}

#our-apps .container .row .col .content p {
  color: #808080;
}

#our-apps .container .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

#our-apps .container .row-2 .col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
}

#our-apps .container .row-2 .col-1 .boxes .box {
  padding: 40px;
  color: #808080;
  margin-right: 20px;
}

#our-apps .container .row-2 .col-1 .boxes .box i {
  font-size: 40px;
  color: #24cdd5;
}

#our-apps .container .row-2 .col-1 .boxes .box .text {
  padding-top: 10px;
}

#our-apps .container .row-2 .col-1 .boxes .box .text h3 {
  color: #808080;
  font-weight: 300;
  font-size: 28px;
}

#our-apps .container .row-2 .col-1 .boxes .box:hover h3 {
  color: #24cdd5;
}

#our-apps .container .row-2 .col-1 .boxes .box:hover i {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

#our-apps .container .row-2 .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
}

#our-apps .container .row-2 .col-2 img {
  width: 356px;
  height: 531px;
}

#our-apps .container .row-2 .col-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
}

#our-apps .container .row-2 .col-3 .boxes .box {
  padding: 40px;
  color: #808080;
  margin-left: 20px;
}

#our-apps .container .row-2 .col-3 .boxes .box i {
  font-size: 40px;
  color: #24cdd5;
}

#our-apps .container .row-2 .col-3 .boxes .box .text {
  padding-top: 10px;
}

#our-apps .container .row-2 .col-3 .boxes .box .text h3 {
  color: #808080;
  font-weight: 300;
  font-size: 28px;
}

#our-apps .container .row-2 .col-3 .boxes .box:hover h3 {
  color: #24cdd5;
}

#our-apps .container .row-2 .col-3 .boxes .box:hover i {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

#counter {
  background-image: url("../images/counter-bg.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
}

#counter .container {
  padding: 120px;
}

#counter .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#counter .container .row .col-1 {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#counter .container .row .col-1 h1 {
  color: white;
  font-size: 100px;
  font-weight: 300;
}

#counter .container .row .col-1 h5 {
  color: white;
  font-size: 30px;
  font-weight: 300;
}

#counter .container .row .col-2 {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#counter .container .row .col-2 p {
  color: white;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 300;
}

#counter .container .row .col-3 {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#counter .container .row .col-3 h1 {
  color: white;
  font-size: 100px;
  font-weight: 300;
}

#counter .container .row .col-3 h5 {
  color: white;
  font-size: 30px;
  font-weight: 300;
}

#our-experts {
  width: 100%;
}

#our-experts .container {
  padding: 120px;
}

#our-experts .container .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

#our-experts .container .row-1 .col-1 {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

#our-experts .container .row-1 .col-1 p {
  color: #24cdd5;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 16px;
}

#our-experts .container .row-1 .col-1 h1 {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 2px;
}

#our-experts .container .row-1 .col-2 {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

#our-experts .container .row-1 .col-2 p {
  color: #808080;
  font-weight: normal;
  line-height: 1.7;
}

#our-experts .container .row-2 {
  margin-top: 70px;
}

#our-experts .container .row-2 .col-1 .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#our-experts .container .row-2 .col-1 .boxes .box .image {
  overflow: hidden;
}

#our-experts .container .row-2 .col-1 .boxes .box .image img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3 ease-in-out;
  transition: 0.3 ease-in-out;
}

#our-experts .container .row-2 .col-1 .boxes .box:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#our-experts .container .row-2 .col-1 .boxes .box .box-body {
  overflow: hidden;
}

#our-experts .container .row-2 .col-1 .boxes .box .box-body .content {
  padding: 10px;
}

#our-experts .container .row-2 .col-1 .boxes .box .box-body .content h3 {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

#our-experts .container .row-2 .col-1 .boxes .box .box-body .content p {
  color: black;
  font-size: 14px;
  font-weight: 300;
}

#our-experts .container .row-2 .col-1 .boxes .box .box-body .social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  visibility: hidden;
}

#our-experts .container .row-2 .col-1 .boxes .box .box-body .social-items li {
  list-style-type: none;
  padding: 10px;
}

#our-experts .container .row-2 .col-1 .boxes .box .box-body .social-items li a {
  text-decoration: none;
}

#our-experts .container .row-2 .col-1 .boxes .box .box-body .social-items li a i {
  font-size: 15px;
  color: white;
}

#our-experts .container .row-2 .col-1 .boxes .box:hover .box-body {
  color: white;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  background-image: -webkit-gradient(linear, left top, right top, from(#5192e1), color-stop(51%, #23ced5), to(#5192e1));
  background-image: linear-gradient(to right, #5192e1 0%, #23ced5 51%, #5192e1 100%);
}

#our-experts .container .row-2 .col-1 .boxes .box:hover .social-items {
  visibility: visible;
}

#pricing {
  width: 100%;
  background-color: #f6f7f8;
  opacity: 3;
}

#pricing .container {
  padding: 120px;
}

#pricing .container .row .col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#pricing .container .row .col-1 .title p {
  color: #24cdd5;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.4;
  font-weight: 300;
}

#pricing .container .row .col-1 .title h1 {
  font-size: 48px;
  color: #384141;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 1px;
}

#pricing .container .row .col-1 .buttons {
  padding: 20px;
  position: relative;
}

#pricing .container .row .col-1 .buttons .btn {
  color: #384141;
  padding: 10px 110px;
  border-radius: 30px;
  background-color: white;
  position: absolute;
}

#pricing .container .row .col-1 .buttons .btn::before {
  content: "Monthly";
  position: absolute;
  padding: 10px 100px;
  border-radius: 30px;
  right: 0;
  top: 0;
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#5192e1), color-stop(51%, #23ced5), to(#5192e1));
  background-image: linear-gradient(to right, #5192e1 0%, #23ced5 51%, #5192e1 100%);
}

#pricing .container .row .col-2 {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#pricing .container .row .col-2 .box {
  width: 30%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 40px 16px;
  margin: 10px 0px;
}

#pricing .container .row .col-2 .box .title {
  padding: 20px;
}

#pricing .container .row .col-2 .box .title h3 {
  font-size: 24px;
  font-family: "Montserrat"sans-serif;
  color: #384141;
}

#pricing .container .row .col-2 .box .title p {
  font-size: 14px;
  color: #f6f7f8;
}

#pricing .container .row .col-2 .box .price {
  padding: 15px 0 14px;
}

#pricing .container .row .col-2 .box .price h1 {
  color: #384141;
  font-size: 48px;
  font-family: "Montserrat"sans-serif;
  font-weight: 300;
}

#pricing .container .row .col-2 .box .price h1 span {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

#pricing .container .row .col-2 .box .plan {
  padding: 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

#pricing .container .row .col-2 .box .plan li {
  padding: 15px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #f6f7f8;
}

#pricing .container .row .col-2 .box a {
  color: #f6f7f8;
  padding: 15px 40px;
  border-radius: 20px;
  background-color: #24cdd5;
  font-weight: 400;
}

#pricing .container .row .col-2 .box:hover {
  background-color: #26313c;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

#pricing .container .row .col-2 .box:hover .title,
#pricing .container .row .col-2 .box:hover .price {
  visibility: hidden;
}

#pricing .container .row .col-2 .box:hover a {
  background-color: transparent;
  border: 1px solid #f6f7f8;
}

#pricing .container .row .col-2 .box:hover a:hover {
  background-color: #f6f7f8;
  color: #384141;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#portfolio {
  width: 100%;
}

#portfolio .container {
  padding: 120px;
}

#portfolio .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#portfolio .container .row .col-1 .title {
  padding: 10px;
}

#portfolio .container .row .col-1 .title h5 {
  color: #24cdd5;
  font-size: 20px;
  font-weight: 400;
}

#portfolio .container .row .col-1 .title h1 {
  color: #384141;
  font-size: 48px;
  font-weight: 500;
}

#portfolio .container .row .col-2 .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

#portfolio .container .row .col-2 .nav-list li {
  list-style: none;
  padding: 10px;
}

#portfolio .container .row .col-2 .nav-list li a {
  text-decoration: none;
  color: #384141;
  font-size: 14px;
}

#portfolio .container .row .col-2 .nav-list li:first-child a {
  font-weight: 900;
}

#portfolio .container .row .col-3 .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

#portfolio .container .row .col-3 .grid .item {
  position: relative;
}

#portfolio .container .row .col-3 .grid .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#portfolio .container .row .col-3 .grid .item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#portfolio .container .row .col-3 .grid .item:hover::after {
  background: radial-gradient(rgba(35, 206, 213, 0.9), rgba(81, 146, 225, 0.9) 50%);
}

#portfolio .container .row .col-4 {
  padding-top: 40px;
}

#portfolio .container .row .col-4 a {
  font-size: 14px;
  padding: 10px 30px;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#5192e1), color-stop(#5192e1), to(#23ced5));
  background-image: linear-gradient(to right, #5192e1, #5192e1, #23ced5);
  border-radius: 25px;
}

#testimonial {
  width: 100%;
}

#testimonial .container .row {
  position: relative;
}

#testimonial .container .row .col-1 .bg {
  background: url("../images/testimonial-bg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 40vh;
  width: 100%;
}

#testimonial .container .row .col-2 {
  padding: 120px;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#testimonial .container .row .col-2 .info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#testimonial .container .row .col-2 .info img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#testimonial .container .row .col-2 .info h3 {
  color: #24cdd5;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
}

#testimonial .container .row .col-2 .info-body {
  width: 50%;
  padding-top: 80px;
}

#testimonial .container .row .col-2 .info-body p {
  color: #808080;
}

#testimonial .container .row .col-2 .info-body .rating li {
  display: inline-block;
  padding-top: 10px;
  color: gold;
}

#testimonial .container .row .col-2 .info-body .rating li i {
  font-size: 12px;
}

#testimonial .container .row .col-3 .slider-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#blog {
  width: 100%;
  background-color: #f6f7f8;
  margin-top: 20px;
}

#blog .container {
  padding: 120px;
}

#blog .container .row .col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 60px;
}

#blog .container .row .col-1 .title {
  padding: 10px;
}

#blog .container .row .col-1 .title h3 {
  color: #24cdd5;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
}

#blog .container .row .col-1 .title h1 {
  font-size: 48px;
  color: #384141;
  font-weight: 500;
}

#blog .container .row .col-2 .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#blog .container .row .col-2 .boxes .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  background-color: white;
  opacity: 35;
}

#blog .container .row .col-2 .boxes .box .image img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
}

#blog .container .row .col-2 .boxes .box .content {
  padding: 40px 30px;
}

#blog .container .row .col-2 .boxes .box .content h1 {
  font-size: 28px;
  color: #384141;
  font-weight: 400;
  cursor: pointer;
}

#blog .container .row .col-2 .boxes .box .content .history {
  margin: 20px 0px;
  padding: 10px;
}

#blog .container .row .col-2 .boxes .box .content .history li {
  display: inline-block;
  list-style: none;
  padding: 10px;
}

#blog .container .row .col-2 .boxes .box .content .history li a {
  color: #384141;
  text-decoration: none;
  font-size: 14px;
}

#blog .container .row .col-2 .boxes .box .content .history li a:hover {
  color: #24cdd5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#blog .container .row .col-2 .boxes .box .content .history li a i {
  color: #384141;
}

#blog .container .row .col-2 .boxes .box .content .history li a i:hover {
  color: #24cdd5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#blog .container .row .col-2 .boxes .box .content p {
  color: #f6f7f8;
}

#blog .container .row .col-2 .boxes .box:hover h1 {
  color: #23ced5;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

#contact {
  width: 100%;
}

#contact .container {
  padding: 120px;
}

#contact .container .row .col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .container .row .col-1 .title {
  padding: 30px;
}

#contact .container .row .col-1 .title h3 {
  color: #24cdd5;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
}

#contact .container .row .col-1 .title h1 {
  font-size: 48px;
  color: #384141;
  font-weight: 500;
}

#contact .container .row .col-1 .title p {
  color: #f6f7f8;
  font-size: 14px;
}

#contact .container .row .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .container .row .col-2 .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

#contact .container .row .col-2 .form input {
  width: 100%;
  height: 50px;
  border: 1px solid #808080;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

#contact .container .row .col-2 .form textarea {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  border: 1px solid #808080;
  border-radius: 5px;
  margin-top: 10px;
}

#contact .container .row .col-2 .form a {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#5192e1), color-stop(#5192e1), to(#23ced5));
  background-image: linear-gradient(to right, #5192e1, #5192e1, #23ced5);
  text-align: center;
  color: #f6f7f8;
  padding: 10px;
  border-radius: 20px;
}

#contact .container .row .col-2 .form-info {
  width: 50%;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

#contact .container .row .col-2 .form-info .title {
  padding: 10px;
}

#contact .container .row .col-2 .form-info .title h3 {
  color: #24cdd5;
  font-size: 16px;
  font-weight: 500;
}

#contact .container .row .col-2 .form-info .title h2 {
  font-size: 28px;
  color: #384141;
  font-weight: 500;
}

#contact .container .row .col-2 .form-info .icons-list li {
  display: inline-block;
  list-style-type: none;
  padding: 10px;
}

#contact .container .row .col-2 .form-info .icons-list li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

#contact .container .row .col-2 .form-info .icons-list li a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#contact .container .row .col-2 .form-info .icons-list li:nth-child(1):hover i {
  background-color: #3e3e9b;
  color: white;
}

#contact .container .row .col-2 .form-info .icons-list li:nth-child(2):hover i {
  background-color: #9f9ffd;
  color: white;
}

#contact .container .row .col-2 .form-info .icons-list li:nth-child(3):hover i {
  background-color: #383868;
  color: white;
}

#contact .container .row .col-2 .form-info .icons-list li:nth-child(4):hover i {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
  color: white;
}

#contact .container .row .col-2 .form-info .icons-list li:nth-child(5):hover i {
  background-color: green;
  color: white;
}

#contact .container .row .col-2 .form-info .icons-list li:nth-child(6):hover i {
  background-color: lightskyblue;
  color: white;
}

#adress {
  width: 100%;
  background-color: #26313c;
}

#adress .container {
  padding: 120px;
}

#adress .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

#adress .container .row h2 {
  color: #f6f7f8;
  font-size: 20px;
  font-weight: 400;
}

#adress .container .row .col-1 {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#adress .container .row .col-1 img {
  -o-object-fit: cover;
     object-fit: cover;
}

#adress .container .row .col-1 .paragraph {
  padding: 10px;
}

#adress .container .row .col-1 .paragraph p {
  color: #f6f7f8;
  font-size: 12px;
  line-height: 1.7;
}

#adress .container .row .col-1 .adress-phone {
  padding: 10px;
}

#adress .container .row .col-1 .adress-phone i {
  color: #f6f7f8;
  font-size: 22px;
}

#adress .container .row .col-1 .adress-phone a {
  color: #f6f7f8;
}

#adress .container .row .col-1 .adress-phone a:hover {
  color: #24cdd5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#adress .container .row .col-1 .social-items {
  padding: 10px;
}

#adress .container .row .col-1 .social-items li {
  display: inline-block;
  border: 1px solid #f6f7f8;
  border-radius: 50%;
}

#adress .container .row .col-1 .social-items li a {
  text-decoration: none;
  color: #f6f7f8;
  font-size: 14px;
}

#adress .container .row .col-1 .social-items li a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#adress .container .row .col-1 .social-items li:nth-child(1):hover i {
  background-color: #3e3e9b;
  color: white;
}

#adress .container .row .col-1 .social-items li:nth-child(2):hover i {
  background-color: #9f9ffd;
  color: white;
}

#adress .container .row .col-1 .social-items li:nth-child(3):hover i {
  background-color: #383868;
  color: white;
}

#adress .container .row .col-1 .social-items li:nth-child(4):hover i {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
  color: white;
}

#adress .container .row .col-2 {
  width: 22%;
}

#adress .container .row .col-2 .news {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

#adress .container .row .col-2 .news .news-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
}

#adress .container .row .col-2 .news .news-link a {
  color: #f6f7f8;
}

#adress .container .row .col-2 .news .news-link .green {
  font-size: 12px;
  color: #24cdd5;
}

#adress .container .row .col-3 {
  width: 22%;
}

#adress .container .row .col-3 ul {
  margin-top: 20px;
}

#adress .container .row .col-3 ul li {
  padding-top: 10px;
  font-weight: 300;
}

#adress .container .row .col-3 ul li a {
  color: #f6f7f8;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#adress .container .row .col-3 ul li:hover a {
  color: #24cdd5;
}

#adress .container .row .col-3 ul li:hover {
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}

#adress .container .row .col-4 {
  width: 22%;
}

#adress .container .row .col-4 p {
  margin-top: 20px;
  color: #f6f7f8;
  font-size: 14px;
}

@media only screen and (max-width: 576px) {
  #navbar {
    min-width: 100%;
    display: block;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #navbar ul {
    visibility: hidden;
  }
  .row {
    padding: 0;
  }
  .row-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .row-2 .col {
    position: absolute;
  }
  .row-2 .main {
    position: relative;
    z-index: 100;
    min-width: 80%;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
}
